.screenshotWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  perspective: 800px;
}

.screenshotWrapperNavbar {
  width: 100%;
  max-width: 1170px;
  height: 40px;
  background-color: rgba(var(--ifm-card-background-color-rgb), 0.06);
  border-radius: 12px 12px 0 0;
  padding: 8px 14px;
}

.cBtn {
  width: 12px;
  height: 12px;
  border-radius: 7px;
  display: inline-block;
  margin-right: 12px;
}

.redBtn {
  background-color: #ff5f57;
}

.yellowBtn {
  background-color: #febc2e;
}

.greenBtn {
  background-color: #28c840;
}

.screenshot {
  width: 100%;
  max-width: 1170px;
  border-radius: 0 0 12px 12px;
  transform-style: preserve-3d;
  will-change: transform;
}
