.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.homeCard {
  background-color: var(--ifm-card-background-color);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 14px;
  padding-top: 14px;
}

.featureSvg {
  height: 40px;
  width: 40px;
  color: var(--ifm-color-primary);
}
