.featuresWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.features {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 4rem 0 6rem 0;
}

.homeCard {
  min-height: 240px;
  background-color: rgba(var(--ifm-card-background-color-rgb), 0.02);
  border: 1px solid rgba(var(--ifm-card-background-color-rgb), 0.08);
  border-radius: 14px;
  margin-top: 1rem;
  padding-top: 14px;
}

.homeCard h4 {
  margin-top: 0.5rem;
}

.homeCard p {
  margin-top: 1rem;
}

.featureSvg {
  height: 40px;
  width: 40px;
  color: var(--ifm-color-primary);
}
