.pluginWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.pluginContent {
  width: 100%;
  max-width: 1200px;
  padding: 0;
}

.pluginItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.pluginItem > img {
  width: 60%;
}

.pluginInfo {
  font-size: 18px;
  padding-top: var(--ifm-spacing-horizontal);
  padding-right: calc(var(--ifm-spacing-horizontal) * 2);
  padding-bottom: var(--ifm-spacing-horizontal);
  padding-left: calc(var(--ifm-spacing-horizontal) * 2);
}

.screenshot {
  border: 1px solid rgba(var(--ifm-card-background-color-rgb), 0.14);
  border-radius: 10px;
}
