.carouselWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carouselContent {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0 8rem 0;
}
