/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import "./overwrite.css";

/* You can override the default Infima variables here. */
:root {
  --ifm-background-color: #e2e6ef;
  --ifm-navbar-background-color: #D6DAE3;
  --ifm-toc-border-color: #D6DAE3;
  --ifm-color-primary: #3B73E0;
  --ifm-color-primary-dark: #3467CC;
  --ifm-color-primary-darker: #2F5FBF;
  --ifm-color-primary-darkest: #244A96;
  --ifm-color-primary-light: #5289F2;
  --ifm-color-primary-lighter: #6A9BF6;
  --ifm-color-primary-lightest: #9DBCFB;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
/* #61F0F7 */
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-background-color: #080911;
  --ifm-navbar-background-color: #1E1E2E;
  --ifm-toc-border-color: #1E1E2E;
  --ifm-color-primary: #4A86F3;
  --ifm-color-primary-dark: #3A76E8;
  --ifm-color-primary-darker: #326EDD;
  --ifm-color-primary-darkest: #2856B3;
  --ifm-color-primary-light: #6398F6;
  --ifm-color-primary-lighter: #7AA9F9;
  --ifm-color-primary-lightest: #A9C6FD;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
