@import "./fonts.css";
@import "./overwrite.css";

:root {
  --ifm-text-color: #081220;
  --ifm-menu-color: black;
  --ifm-menu-color-background-hover: transparent;
  --ifm-navbar-link-color: #384250;
  --ifm-navbar-link-active: #586270;
  --ifm-featured-text-color: #182230;

  --ifm-background-color: #e2e6ef;
  --ifm-background-color-rgb: 226, 230, 239;

  --ifm-navbar-background-color: rgba(214, 218, 227, 0.90);
  --ifm-breadcrumb-color-active: #384250;
  --ifm-footer-background-color: rgba(214, 218, 227, 0.90);
  --ifm-footer-text-color: #384250;
  --ifm-toc-border-color: #D6DAE3;
  --ifm-color-content-secondary: #384250;

  --ifm-color-primary: #1B53C0;
  --ifm-color-primary-rgb: 27, 83, 192;

  --ifm-color-primary-dark: #1447aC;
  --ifm-color-primary-darker: #0F3F9F;
  --ifm-color-primary-darkest: #042A76;
  --ifm-color-primary-light: #5289F2;
  --ifm-color-primary-lighter: #6A9BF6;
  --ifm-color-primary-lightest: #9DBCFB;

  --ifm-color-secondary: #0E7F8B;
  --ifm-card-background-color-rgb: 0, 0, 0;
  --ifm-hr-background-color: rgba(0, 0, 0, 0.12);
  --ifm-color-emphasis-200: #c7cbd4;
  --ifm-color-emphasis-300: #b7bbc4;

  --ifm-swiper-pagination-bullet-color: rgba(0, 0, 0, 0.6);

  --ifm-heading-margin-bottom: 0.5rem;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  --ifm-text-color: #98a2c0;
  --ifm-menu-color: #a8b2d0;
  --ifm-menu-color-background-hover: transparent;
  --ifm-navbar-link-color: #8892b0;
  --ifm-navbar-link-active: #687290;
  --ifm-featured-text-color: #d8e2f0;

  --ifm-background-color: #080911;
  --ifm-background-color-rgb: 8, 9, 17;

  --ifm-navbar-background-color: rgba(12, 14, 24, 0.90);
  --ifm-breadcrumb-color-active: #8892b0;
  --ifm-footer-background-color: rgba(12, 14, 24, 0.90);
  --ifm-footer-text-color: #8892b0;
  --ifm-toc-border-color: #1E1E2E;
  --ifm-color-content-secondary: #8892b0;

  --ifm-color-primary: #6AA0FF;
  --ifm-color-primary-rgb: 106, 160, 255;

  --ifm-color-primary-dark: #5A90F6;
  --ifm-color-primary-darker: #5288EB;
  --ifm-color-primary-darkest: #4470C8;
  --ifm-color-primary-light: #6398FE;
  --ifm-color-primary-lighter: #7AA9FF;
  --ifm-color-primary-lightest: #A9C6FF;

  --ifm-color-secondary: #2ECBBF;
  --ifm-card-background-color-rgb: 255, 255, 255;
  --ifm-hr-background-color: rgba(255, 255, 255, 0.12);
  --ifm-color-emphasis-200: #1E1E2E;
  --ifm-color-emphasis-300: #2E2E3E;

  --ifm-swiper-pagination-bullet-color: rgba(255, 255, 255, 0.6);

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
