/* Ranade Font */
@font-face {
  font-family: 'Ranade';
  src: url('../../static/fonts/Ranade-Bold.woff2') format('woff2'),
       url('../../static/fonts/Ranade-Bold.woff') format('woff'),
       url('../../static/fonts/Ranade-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* Inter18pt Font */
@font-face {
  font-family: 'Inter';
  src: url('../../static/fonts/Inter18pt-Regular.woff2') format('woff2'),
       url('../../static/fonts/Inter18pt-Regular.woff') format('woff'),
       url('../../static/fonts/Inter18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../../static/fonts/Inter18pt-Italic.woff2') format('woff2'),
       url('../../static/fonts/Inter18pt-Italic.woff') format('woff'),
       url('../../static/fonts/Inter18pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../../static/fonts/Inter18pt-SemiBold.woff2') format('woff2'),
       url('../../static/fonts/Inter18pt-SemiBold.woff') format('woff'),
       url('../../static/fonts/Inter18pt-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../../static/fonts/Inter18pt-SemiBoldItalic.woff2') format('woff2'),
       url('../../static/fonts/Inter18pt-SemiBoldItalic.woff') format('woff'),
       url('../../static/fonts/Inter18pt-SemiBoldItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: url('../../static/fonts/Inter18pt-Bold.woff2') format('woff2'),
       url('../../static/fonts/Inter18pt-Bold.woff') format('woff'),
       url('../../static/fonts/Inter18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('../../static/fonts/Inter18pt-BoldItalic.woff2') format('woff2'),
       url('../../static/fonts/Inter18pt-BoldItalic.woff') format('woff'),
       url('../../static/fonts/Inter18pt-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
