/* Ranade Font */
@font-face {
  font-family: 'Ranade';
  src: url('../../static/fonts/Ranade-Bold.woff2') format('woff2'),
       url('../../static/fonts/Ranade-Bold.woff') format('woff'),
       url('../../static/fonts/Ranade-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* RobotoMono Font */
@font-face {
  font-family: 'Roboto Mono';
  src: url('../../static/fonts/RobotoMono-Regular.woff2') format('woff2'),
       url('../../static/fonts/RobotoMono-Regular.woff') format('woff'),
       url('../../static/fonts/RobotoMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../../static/fonts/RobotoMono-Italic.woff2') format('woff2'),
       url('../../static/fonts/RobotoMono-Italic.woff') format('woff'),
       url('../../static/fonts/RobotoMono-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../../static/fonts/RobotoMono-SemiBold.woff2') format('woff2'),
       url('../../static/fonts/RobotoMono-SemiBold.woff') format('woff'),
       url('../../static/fonts/RobotoMono-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../../static/fonts/RobotoMono-SemiBoldItalic.woff2') format('woff2'),
       url('../../static/fonts/RobotoMono-SemiBoldItalic.woff') format('woff'),
       url('../../static/fonts/RobotoMono-SemiBoldItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../../static/fonts/RobotoMono-Bold.woff2') format('woff2'),
       url('../../static/fonts/RobotoMono-Bold.woff') format('woff'),
       url('../../static/fonts/RobotoMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('../../static/fonts/RobotoMono-BoldItalic.woff2') format('woff2'),
       url('../../static/fonts/RobotoMono-BoldItalic.woff') format('woff'),
       url('../../static/fonts/RobotoMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
