/* Ranade Font */
@font-face {
  font-family: 'Ranade';
  src: url('../../static/fonts/Ranade-Bold.woff2') format('woff2'),
       url('../../static/fonts/Ranade-Bold.woff') format('woff'),
       url('../../static/fonts/Ranade-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* Satoshi Font */
@font-face {
  font-family: 'Satoshi';
  src: url('../../static/fonts/Satoshi-Regular.woff2') format('woff2'),
       url('../../static/fonts/Satoshi-Regular.woff') format('woff'),
       url('../../static/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../../static/fonts/Satoshi-Italic.woff2') format('woff2'),
       url('../../static/fonts/Satoshi-Italic.woff') format('woff'),
       url('../../static/fonts/Satoshi-Italic.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../../static/fonts/Satoshi-Medium.woff2') format('woff2'),
       url('../../static/fonts/Satoshi-Medium.woff') format('woff'),
       url('../../static/fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../../static/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
       url('../../static/fonts/Satoshi-MediumItalic.woff') format('woff'),
       url('../../static/fonts/Satoshi-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../../static/fonts/Satoshi-Bold.woff2') format('woff2'),
       url('../../static/fonts/Satoshi-Bold.woff') format('woff'),
       url('../../static/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('../../static/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
       url('../../static/fonts/Satoshi-BoldItalic.woff') format('woff'),
       url('../../static/fonts/Satoshi-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
