.icons-wrapper {
  margin-bottom: 3rem;
}

.icon {
  width: 70px;
  color: var(--ifm-menu-color);
  margin: 1rem 1rem 0 0;
}

.icon * {
  fill: currentColor !important;
  stroke: currentColor !important;
}
