* {
  transition: none !important;
}

body {
  color: var(--ifm-text-color);
  font-family: 'Inter', monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--ifm-featured-text-color);
  font-family: 'Ranade';
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.aa-DetachedSearchButton {
  min-width: 200px;
  background-color: var(--ifm-color-emphasis-200) !important;
  color: var(--ifm-text-color) !important;
  border-color: var(--ifm-color-emphasis-300);
  border-radius: 20px !important;
  padding: 0 1rem 0 0.5rem !important;
}

.aa-DetachedSearchButton svg {
  color: var(--ifm-text-color) !important;
}

.navbar__logo {
  height: 1.5rem;
  margin-right: 1.8rem;
  margin-left: 3px;
}

.navbar__link--active {
  color: var(--ifm-navbar-link-active);
}

.hero {
  background-color: transparent;
  color: var(--ifm-text-color);
  padding: 4rem 0 3.5rem 0 !important;
}

.hero .button {
  background: linear-gradient(135deg, var(--ifm-color-primary-dark) 0%, var(--ifm-color-primary-darkest) 100%);
  border: none;
  border-radius: 12px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 12px 24px;
  position: relative;
  bottom: 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.1s !important;
}

.hero .button:hover {
  background: linear-gradient(135deg, var(--ifm-color-primary-dark) 0%, var(--ifm-color-primary-darkest) 100%);
  box-shadow: 0 4px 12px rgba(80, 120, 220, 0.5);
  bottom: 3px;
}

.hero .button svg {
  margin-left: 8px;
  position: relative;
  top: 1px;
}

.hero__title {
  font-size: 60px;
  letter-spacing: -0.05em;
  background: linear-gradient(90deg, #3B73E0, #3EDBCF, #3B73E0);
  background-size: 200% auto;
  background-clip: text;
  color: #3B73E0;
  display: inline-block;
  animation: gradient-flow 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__subtitle {
  font-size: 18px;
}

.menu__link > span,
.menu__link--sublist > span {
  overflow: visible;
}

.menu__link:hover,
.menu__link--sublist:hover {
  background-color: transparent;
  color: var(--ifm-color-primary) !important;
}

.menu__link--active {
  background-color: transparent;
  color: var(--ifm-color-secondary);
}

.menu__list-item-collapsible > .menu__link {
  color: var(--ifm-menu-color);
}

.menu__list-item-collapsible:hover {
  background-color: transparent;
}

[data-theme='dark'] .menu__link:hover {
  color: var(--ifm-link-color);
}

.card {
  box-shadow: none;
}

.table-of-contents {
  font-size: 1rem;
}

.pagination-nav__link {
  border: none;
  padding: 0;
}

.pagination-nav__link:hover {
  color: var(--ifm-color-secondary);
}

.alert--info {
  background-color: #ccddee;
}

[data-theme='dark'] .alert--info {
  background-color: #193C57;
}

@keyframes gradient-flow {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 200% center;
  }
}
