* {
  transition: none !important;
}

body {
  color: var(--ifm-text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--ifm-featured-text-color);
}

.navbar__logo {
  height: 1.5rem;
  margin-right: 1.8rem;
  margin-left: 3px;
}

.menu__link:hover {
  background-color: transparent;
  color: white;
}

.menu__link--active,
.menu__link--sublist {
  background-color: transparent;
  color: var(--ifm-link-color);
}

.menu__list-item-collapsible > .menu__link {
  color: var(--ifm-menu-color);
}

.menu__list-item-collapsible:hover {
  background-color: transparent;
}

[data-theme='dark'] .menu__link:hover {
  color: var(--ifm-link-color);
}

.card {
  box-shadow: none;
}

.pagination-nav__link {
  border: none;
  padding: 0;
}

.pagination-nav__link:hover {
  color: var(--ifm-color-secondary);
}

.footer--light {
  --ifm-footer-background-color: #D6DAE3;
}

.footer--dark {
  --ifm-footer-background-color: #1E1E2E;
}

.footer__link-item {
  color: #5E5E6E;
}

[data-theme='dark'] .footer__link-item {
  color: var(--ifm-text-color);
}

.footer {
  background-color: #D6DAE3;
  color: #5E5E6E;
}

[data-theme='dark'] .footer {
  background-color: var(--ifm-footer-background-color);
  color: var(--ifm-text-color);
}

.footer .footer__title {
  color: #080911;
}

[data-theme='dark'] .footer .footer__title {
  color: #e2e6ef;
}

.footer a:hover {
  color: var(--ifm-color-secondary);
}

[data-theme='dark'] .footer a:hover {
  color: var(--ifm-color-secondary);
}
