body {
  height: auto;
  background:
    radial-gradient(circle at 50% 80px,
      rgba(var(--ifm-color-primary-rgb), 0.16),
      transparent 55%),
    radial-gradient(circle at 80% 80%,
      rgba(var(--ifm-color-primary-rgb), 0.10),
      transparent 60%),
    var(--ifm-background-color);
  color: var(--ifm-text-color);
  font-family: 'Inter', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--ifm-featured-text-color);
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.swiper {
  padding-bottom: 4rem !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 6px !important;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background-color: var(--ifm-swiper-pagination-bullet-color) !important;
}

.aa-DetachedSearchButton {
  min-width: 200px;
  background-color: var(--ifm-color-emphasis-200) !important;
  color: var(--ifm-text-color) !important;
  border-color: var(--ifm-color-emphasis-300);
  border-radius: 20px !important;
  padding: 0 1rem 0 0.5rem !important;
}

.aa-DetachedSearchButton svg {
  color: var(--ifm-text-color) !important;
}

.navbar__logo {
  height: 1.5rem;
  margin-right: 1.8rem;
  margin-left: 3px;
}

.navbar__link--active {
  color: var(--ifm-navbar-link-active);
}

.hero {
  background-color: transparent;
  color: var(--ifm-text-color);
  padding: 4rem 0 3.5rem 0 !important;
}

.hero .button {
  background: linear-gradient(135deg, var(--ifm-color-primary-dark) 0%, var(--ifm-color-primary-darkest) 100%);
  border: none;
  border-radius: 12px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 12px 24px;
  position: relative;
  bottom: 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.1s !important;
}

.hero .button:hover {
  background: linear-gradient(135deg, var(--ifm-color-primary-dark) 0%, var(--ifm-color-primary-darkest) 100%);
  box-shadow: 0 4px 12px rgba(80, 120, 220, 0.5);
  bottom: 3px;
}

.hero .button svg {
  margin-left: 8px;
  position: relative;
  top: 1px;
}

.hero__title {
  font-size: 60px;
  letter-spacing: -0.05em;
  background: linear-gradient(90deg, #3B73E0, #3EDBCF, #3B73E0);
  background-size: 200% auto;
  background-clip: text;
  color: #3B73E0;
  display: inline-block;
  animation: gradient-flow 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__subtitle {
  font-size: 18px;
}

.menu__link>span,
.menu__link--sublist>span {
  overflow: visible;
}

.menu__link:hover,
.menu__link--sublist:hover {
  background-color: transparent;
  color: var(--ifm-color-primary) !important;
}

.menu__link--active {
  background-color: transparent;
  color: var(--ifm-color-secondary);
}

.menu__list-item-collapsible>.menu__link {
  color: var(--ifm-menu-color);
}

.menu__list-item-collapsible:hover {
  background-color: transparent;
}

[data-theme='dark'] .menu__link:hover {
  color: var(--ifm-link-color);
}

.card {
  box-shadow: none;
}

.table-of-contents {
  font-size: 1rem;
}

.pagination-nav__link {
  border: none;
  padding: 0;
}

.pagination-nav__link:hover {
  color: var(--ifm-color-secondary);
}

code,
.prism-code {
  background-color: #eaeef7 !important;
}

[data-theme='dark'] code,
[data-theme='dark'] .prism-code {
  background-color: #1e1f32 !important;
}

.token {
  color: #193C57 !important;
}

[data-theme='dark'] .token {
  color: #ccddee !important;
}

.alert--info {
  background-color: #ccddee;
}

[data-theme='dark'] .alert--info {
  background-color: #193C57;
}

.alert--success {
  background-color: #d6e3df;
}

[data-theme='dark'] .alert--success {
  background-color: #00241f;
}

@keyframes gradient-flow {
  0% {
    background-position: 0% center;
  }

  100% {
    background-position: 200% center;
  }
}
